In [8]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("Learning_Spark") \
    .getOrCreate()
data = spark.read.csv('/home/lijo/Downloads/videogamesales/vgsales.csv',inferSchema=True, header=True)
data.count(), len(data.columns)

(16598, 11)

In [11]:
data.show(5)

+----+--------------------+--------+----+------------+---------+--------+--------+--------+-----------+------------+
|Rank|                Name|Platform|Year|       Genre|Publisher|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|
+----+--------------------+--------+----+------------+---------+--------+--------+--------+-----------+------------+
|   1|          Wii Sports|     Wii|2006|      Sports| Nintendo|   41.49|   29.02|    3.77|       8.46|       82.74|
|   2|   Super Mario Bros.|     NES|1985|    Platform| Nintendo|   29.08|    3.58|    6.81|       0.77|       40.24|
|   3|      Mario Kart Wii|     Wii|2008|      Racing| Nintendo|   15.85|   12.88|    3.79|       3.31|       35.82|
|   4|   Wii Sports Resort|     Wii|2009|      Sports| Nintendo|   15.75|   11.01|    3.28|       2.96|        33.0|
|   5|Pokemon Red/Pokem...|      GB|1996|Role-Playing| Nintendo|   11.27|    8.89|   10.22|        1.0|       31.37|
+----+--------------------+--------+----+------------+---------+--------+--------+--------+-----------+------------+
only showing top 5 rows

In [13]:
data.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Platform: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- NA_Sales: double (nullable = true)
 |-- EU_Sales: double (nullable = true)
 |-- JP_Sales: double (nullable = true)
 |-- Other_Sales: double (nullable = true)
 |-- Global_Sales: double (nullable = true)

In [16]:
data.select('Name','Year').show(3)

+-----------------+----+
|             Name|Year|
+-----------------+----+
|       Wii Sports|2006|
|Super Mario Bros.|1985|
|   Mario Kart Wii|2008|
+-----------------+----+
only showing top 3 rows

In [21]:
data.groupBy('Year').count().orderBy('Year',ascending=False).show()

+----+-----+
|Year|count|
+----+-----+
| N/A|  271|
|2020|    1|
|2017|    3|
|2016|  344|
|2015|  614|
|2014|  582|
|2013|  546|
|2012|  657|
|2011| 1139|
|2010| 1259|
|2009| 1431|
|2008| 1428|
|2007| 1202|
|2006| 1008|
|2005|  941|
|2004|  763|
|2003|  775|
|2002|  829|
|2001|  482|
|2000|  349|
+----+-----+
only showing top 20 rows