In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("Learning_Spark") \
    .getOrCreate()
data = spark.read.csv('../data/vgsales.csv',inferSchema=True, header=True)
data.count(), len(data.columns)

[('spark.app.id', 'local-1592809670034'),
 ('spark.driver.port', '37107'),
 ('spark.rdd.compress', 'True'),
 ('spark.app.name', 'Learning_Spark'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.submit.pyFiles', ''),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.driver.host', '192.168.0.49'),
 ('spark.ui.showConsoleProgress', 'true')]

In [4]:
data.show(1)

+----+----------+--------+----+------+---------+--------+--------+--------+-----------+------------+
|Rank|      Name|Platform|Year| Genre|Publisher|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|
+----+----------+--------+----+------+---------+--------+--------+--------+-----------+------------+
|   1|Wii Sports|     Wii|2006|Sports| Nintendo|   41.49|   29.02|    3.77|       8.46|       82.74|
+----+----------+--------+----+------+---------+--------+--------+--------+-----------+------------+
only showing top 1 row

In [21]:
data

DataFrame[Rank: int, Name: string, Platform: string, Year: string, Genre: string, Publisher: string, NA_Sales: double, EU_Sales: double, JP_Sales: double, Other_Sales: double, Global_Sales: double]

In [11]:
data.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Platform: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- NA_Sales: double (nullable = true)
 |-- EU_Sales: double (nullable = true)
 |-- JP_Sales: double (nullable = true)
 |-- Other_Sales: double (nullable = true)
 |-- Global_Sales: double (nullable = true)

In [16]:
data.select('Name','Year').show(3)

+-----------------+----+
|             Name|Year|
+-----------------+----+
|       Wii Sports|2006|
|Super Mario Bros.|1985|
|   Mario Kart Wii|2008|
+-----------------+----+
only showing top 3 rows

In [15]:
data.groupBy('Year').count().orderBy('Year',ascending=False).show()

+----+-----+
|Year|count|
+----+-----+
| N/A|  271|
|2020|    1|
|2017|    3|
|2016|  344|
|2015|  614|
|2014|  582|
|2013|  546|
|2012|  657|
|2011| 1139|
|2010| 1259|
|2009| 1431|
|2008| 1428|
|2007| 1202|
|2006| 1008|
|2005|  941|
|2004|  763|
|2003|  775|
|2002|  829|
|2001|  482|
|2000|  349|
+----+-----+
only showing top 20 rows

In [20]:
condition = data.Year !='N/A'
data.groupBy('Year').count().filter(condition).orderBy('Year',ascending=False).show()

+----+-----+
|Year|count|
+----+-----+
|2020|    1|
|2017|    3|
|2016|  344|
|2015|  614|
|2014|  582|
|2013|  546|
|2012|  657|
|2011| 1139|
|2010| 1259|
|2009| 1431|
|2008| 1428|
|2007| 1202|
|2006| 1008|
|2005|  941|
|2004|  763|
|2003|  775|
|2002|  829|
|2001|  482|
|2000|  349|
|1999|  338|
+----+-----+
only showing top 20 rows